.vscode/
coverage/
img/
node_modules/
src/
example/
tests/
.babelrc
.eslintignore
.eslintrc.js
.gitignore
.node-version
.prettierignore
.prettierrc.json
.travis.yml
jest.config.js
tsconfig.eslint.json

# Output of 'npm pack'
*.tgz

.DS_Store
